.MGS-A{
    margin-left: auto;
    margin-right: auto;
}
/*
//---------99px-----------
.MGT99{
    margin-top: 99px;
}
.MGB99{
    margin-bottom: 99px;
}
.MGL99{
    margin-left: 99px;
}
.MGR99{
    margin-right: 99px;
}
.MG99{
    margin: 99px;
}*/

/* ---------10px-----------*/
.MGT10{
    margin-top: 10px;
}
.MGB10{
    margin-bottom: 10px;
}
.MGL10{
    margin-left: 10px;
}
.MGR10{
    margin-right: 10px;
}
.MG10{
    margin: 10px;
}

/*---------15px-----------*/
.MGT15{
    margin-top: 15px;
}
.MGB15{
    margin-bottom: 15px;
}
.MGL15{
    margin-left: 15px;
}
.MGR15{
    margin-right: 15px;
}
.MG15{
    margin: 15px;
}
/* ---------20px-----------*/
.MGT20{
    margin-top: 20px;
}
.MGB20{
    margin-bottom: 20px;
}
.MGL20{
    margin-left: 20px;
}
.MGR20{
    margin-right: 20px;
}
.MG20{
    margin: 20px;
}

/* ---------25px-----------*/
.MGT25{
    margin-top: 25px;
}
.MGB25{
    margin-bottom: 25px;
}
.MGL25{
    margin-left: 25px;
}
.MGR25{
    margin-right: 25px;
}
.MG25{
    margin: 25px;
}

/* ---------30px-----------*/
.MGT30{
    margin-top: 30px;
}
.MGB30{
    margin-bottom: 30px;
}
.MGL30{
    margin-left: 30px;
}
.MGR30{
    margin-right: 30px;
}
.MG30{
    margin: 30px;
}

/*---------35px-----------*/
.MGT35{
    margin-top: 35px;
}
.MGB35{
    margin-bottom: 35px;
}
.MGL35{
    margin-left: 35px;
}
.MGR35{
    margin-right: 35px;
}
.MG35{
    margin: 35px;
}

.MGT40{
    margin-top: 40px;
}
.MGB40{
    margin-bottom: 40px;
}
.MGL40{
    margin-left: 40px;
}
.MGR40{
    margin-right: 40px;
}
.MG40{
    margin: 40px;
}

/*---------50px-----------*/
.MGT50{
    margin-top: 50px;
}
.MGB50{
    margin-bottom: 50px;
}
.MGL50{
    margin-left: 50px;
}
.MGR50{
    margin-right: 50px;
}
.MG50{
    margin: 50px;
}

/*---------100px-----------*/
.MGT100{
    margin-top: 100px;
}
.MGB100{
    margin-bottom: 100px;
}
.MGL100{
    margin-left: 100px;
}
.MGR100{
    margin-right: 100px;
}
.MG100{
    margin: 100px;
}

/*---------150px-----------*/
.MGT150{
    margin-top: 150px;
}
.MGB150{
    margin-bottom: 150px;
}
.MGL150{
    margin-left: 150px;
}
.MGR150{
    margin-right: 150px;
}
.MG150{
    margin: 150px;
}

/*---------200px-----------*/
.MGT200{
    margin-top: 200px;
}
.MGB200{
    margin-bottom: 200px;
}
.MGL200{
    margin-left: 200px;
}
.MGR200{
    margin-right: 200px;
}
.MG200{
    margin: 200px;
}